/***
    title: Button
    section: Buttons
    description: Use to create buttons. Buttons come in various sizes and colors. Add more colors and customize your buttons in config/button.scss. You can also use @include button;
    example:
        <p><a href="#" class="button">I'm a normal button</a></p>
        <p><button class="button--ghost">Button elements don't need the button class</button></p>
        <p><input type="submit" value="Submit inputs do though" class="button button--disabled" disabled></p>
        <p><a href="#" class="button">Continue</a> <a href="#" class="button button--gray button--ghost">Cancel</a></p>
        <p><a href="#" class="button button--gradient">Button colors can be a list</a></p>
        <p><a href="#" class="button button--white">Bright buttons don't get white text</a></p>
***/
// Button classes
.button {
	@include button;

	&[disabled],
	&.button--disabled {
		pointer-events: none;
	}
}

.button--ghost {
	@include button-ghost;
}

// Button colors
@each $color-name, $color in $button-colors {
	.button--#{$color-name} {
		@include button-color($color);

		&:hover {
			@include button-color-hover($color);
		}

		&.button--ghost {
			@include button-ghost($color);
		}
	}
}
