/***
    title: Flex
    section: Grid
    description: Use to align elements in rows and columns. Perfect for use on ul/li setups or indeed any parent/child markup. Use bp--modifiers to set number of columns in different widths. Customize gutter and breakpoints in config file. You can also use ul {@include flex-grid(3)}.
    example:
        <ul class="flex--2--tablet flex--3--laptop">
            <li><img src="http://placehold.it/320x240" class="img--wide"> I'm two columns</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> In low resolution</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> But three columns</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> In high</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> Resolutions</li>
            <li><img src="http://placehold.it/320x240" class="img--wide"> Cool?</li>
        </ul>
***/
// Remove potential list style and margin
// in case flex--* is used on an unordered list
ul[class*="flex--"] {
	margin-left: 0;
	padding-left: 0;
	list-style: none;
}

// Make sure flex items have margin bottom(?)
[class*="flex--"] {
	> * {
		@if ($grid-flex-use-margin-top) {
			margin-top: $grid-gap;

			&:first-child {
				margin-top: 0;
			}
		}
		@else {
			margin-bottom: $grid-gap;
		}
	}
}

// Create flex--X classes for all specified column counts
@for $num from 2 through $grid-cols {
	.flex--#{$num} {
		@include flex-grid($num, $grid-gap);
	}
}

// Create flex--X--Y classes for all specified column counts and breakpoints
@each $bp-name, $bp in $breakpoints {
	@for $num from 2 through $grid-cols {
		@media #{$bp} {
			.flex--#{$num}--#{$bp-name} {
				@include flex-grid($num, $grid-gap);
			}
		}
	}
}

// Fill in flex "gaps"
@for $num from 3 through $grid-cols {
	.flex--#{$num} {
		&::before,
		&::after {
			@include flex-grid-item($num, $grid-gap);

			display: block;
			content: "";
			margin: 0;
			order: 9999;
		}
	}
}

@each $bp-name, $bp in $breakpoints {
	@for $num from 3 through $grid-cols {
		@media #{$bp} {
			.flex--#{$num}--#{$bp-name} {
				&::before,
				&::after {
					@include flex-grid-item($num, $grid-gap);

					display: block;
					content: "";
					margin: 0;
					order: 9999;
				}
			}
		}
	}
}
