/***
    title: Icon
    section: Icons
    description: Use to add icons to elements. Icons added to empty elements will have zero spacing around them whereas icons added to elements with content will have some spacing. Add icons to the icons.json file (using fontello.com) and Gulp takes care of the rest.
    example:
        <p>
            <a href="#" class="icon-facebook">Facebook</a>
            <a href="#" class="icon-twitter">Twitter</a>
            <a href="#" class="icon-facebook" title="Facebook"></a>
            <a href="#" class="icon-twitter" title="Twitter"></a>
            <button class="icon-search">Find</button>
            <a href="#" class="icon-right icon--after">Icon after text</a>
        </p>
***/
/**
 * Some icon tweaks and margins
 */
[class*="icon-"] {
	&:before,
	&:after {
		text-decoration: none;
	}

	// Separate icons and text
	&:before {
		margin: 0 $icon-margin 0 0;
	}

	// Other way for icons after text
	&.icon--after:after {
		margin: 0 0 0 $icon-margin;
	}

	// No margin around empty icons
	&:empty:after,
	&:empty:before {
		margin: 0;
	}
}

/**
 * Spinner
 */
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

.icon-spinner:before,
.icon-spinner.icon--after:after {
	animation: spin 2s infinite linear;
}
