/***
    title: List
    section: Lists
    description: Various classes you can use on lists, or list like markup.
    example:
        <h2>Pipe separated</h2>
        <ul class="list--pipe-separated">
            <li>Pipes</li>
            <li>Separate</li>
            <li>Me</li>
        </ul>
        <h2>Inline list</h2>
        <ul class="list--inline text--center">
            <li>Inline list</li>
            <li>Inline list</li>
            <li>Inline list</li>
            <li>Inline list</li>
        </ul>
        <h2>Plain list</h2>
        <ul class="list--plain">
            <li>Plain list</li>
            <li>Plain list</li>
            <li>Plain list</li>
            <li>Plain list</li>
        </ul>
        <h2>Bordered list</h2>
        <ul class="list--border">
            <li>Bordered list</li>
            <li>Bordered list</li>
            <li>Bordered list</li>
            <li>Bordered list</li>
        </ul>
***/
ul,
ol {
	margin: 0 0 $spacing-default $spacing-large;
	padding: 0;
}

dl {
	margin: 0 0 $spacing-default;
}

// Pipe separated list
.list--pipe-separated {
	@include separated-list('\00a0|\00a0');
}

.list--inline {
	@include inline-list;
}

.list--border {
	@include bordered-list;
}

.list--plain {
	margin-left: 0;
	list-style: none;

	&--spacing {
		margin-left: 0;
		list-style: none;

		> * {
			margin-bottom: $spacing-small;
		}
	}
}
