/***
    title: Popup
    section: Popup
    description: Use to create a popup. Works well with popup.js but isn't necessarily required.
    example:
        <a href="#my-popup">Open popup</a>
        <div class="popup" id="my-popup">
            <div class="popup__content">
                <a href="#" class="popup__close"></a>
                <h2>I'm a popup</h2>
                <p>Built with CSS.</p>
            </div>
        </div>
***/
html.popup-open,
html.popup-open body {
	overflow: hidden;
	// TODO: touch-action: none; (https://developer.mozilla.org/en-US/docs/Web/CSS/touch-action)
}

.popup {
	background: $overlay-color;

	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	height: 100vh;
	z-index: 100; // Make sure it's on top of 99s

	overflow: auto;

	// This seems good for iOS http://stackoverflow.com/questions/9280258/prevent-body-scrolling-but-allow-overlay-scrolling#comment-37687418
	-webkit-overflow-scrolling: touch;

	display: flex;
	align-items: center;
	justify-content: center;
	padding: $section-spacing 0;

	opacity: 0;
	transform: translateY(-100%);
	transition: transform 0s .2s linear, opacity .2s 0s $transition-easing;

	// When open
	&:target,
	&.open {
		transition: transform 0s 0s linear, opacity .2s 0s $transition-easing;
		opacity: 1;
		transform: translateY(0);
	}

	// Close button
	&__close {
		position: fixed;
		right: $spacing-default - $spacing-small;
		top: $spacing-default - $spacing-small;
		z-index: 1;
		padding: $spacing-small;

		color: $white;
		text-decoration: none;
		line-height: 1;

		&:hover {
			color: $white;
			text-decoration: none;
		}

		&:before {
			@if variable-exists(icon-close) {
				@include icon($icon-close);

				margin: 0;
			}
			@else {
				content: "×";
				font-size: 2rem;
				line-height: 1rem;
			}
		}
	}

	// The actual box
	&__content {
		background: $white;

		width: 95%;
		max-width: 50rem;

		position: relative;
		margin: auto;
		padding: $spacing-large;

		// If close button is inside the box
		.popup__close {
			position: absolute;
			color: $text-color;

			&:hover {
				color: $text-color;
			}
		}
	}
}

// Fix IE10/11 buggy flexbox
@media all and (-ms-high-contrast:none) {
	// IE10
	.popup {
		display: block;
	}

	*::-ms-backdrop,
	.popup {
		display: block;
	}
}
