/***
    title: Text
    section: Typography
    description: Various helper classes for working with text.
    example:
        <p class="text--center">This text is centered and <strong class="text--upper">upper case</strong></p>
        <p class="text--right text--large">This large text is right aligned.</p>
        <p class="text--ellipsis">Regardless of how long this text gets it will never line break regardless of how long this text gets it will never line break etc etc.</p>
***/
p {
	margin: 0 0 $spacing-default;
}

small {
	font-size: $font-size-small;
}

.text--upper {
	text-transform: uppercase;
}

.text--center {
	text-align: center;
}

.text--left {
	text-align: left;
}

.text--right {
	text-align: right;
}

.text--small {
	font-size: $font-size-small;
}

.text--large {
	font-size: $font-size-large;
}

.text--ellipsis {
	@include ellipsis;
}

.text--strike-through {
	@include strike-through;
}
