/***
    title: Video
    section: Video
    description: Wrapping class for responsive, embedded videos (from https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php)
    example:
        <div class="video"><iframe width="560" height="315" src="https://www.youtube.com/embed/JSuYuPz0dlU" frameborder="0" allowfullscreen></iframe></div>
***/
.video,
.entry-content-asset {
	clear: both;
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	margin-bottom: $spacing-default;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
