// Reversed E
@mixin burger-menu ($color: $link-color, $middle-width: 75%, $size: 24px, $thickness: 4px) {
	$middle-position: 100% - $middle-width;

	background-image: linear-gradient(to right, transparent, transparent $middle-position, $color $middle-position);
	background-size: 100% $thickness;
	background-position: left 50%;
	background-repeat: no-repeat;
	transition: background-position $transition-default $transition-default $transition-easing;

	display: block;
	position: relative;
	overflow: hidden;

	width: $size;
	height: $size;

	&::before,
	&::after {
		background: $color;

		display: block;
		content: "";

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: $thickness;

		transition: top $transition-default $transition-default $transition-easing, transform $transition-default $transition-easing;
	}

	&::after {
		top: auto;
		bottom: 0;
		transition: bottom $transition-default $transition-default $transition-easing, transform $transition-default $transition-easing;
	}
}

@mixin burger-menu-open ($color: false, $size: 24px, $thickness: 4px) {
	background-position: $size 50%;
	transition: background-position $transition-default $transition-easing;

	@if ($color) {
		&:before,
		&:after {
			background: $color;
		}
	}

	&::before {
		top: calc(50% - #{$thickness / 2});
		transform: rotate(45deg);
		transition: top $transition-default $transition-easing, transform $transition-default $transition-default $transition-easing;
	}

	&::after {
		bottom: calc(50% - #{$thickness / 2});
		transform: rotate(-45deg);
		transition: bottom $transition-default $transition-easing, transform $transition-default $transition-default $transition-easing;
	}
}

// Normal with only two lines
@mixin burger-menu-two-lines ($color: $link-color, $size: 32px, $thickness: 4px) {
	display: block;
	width: $size;
	height: $size;

	position: relative;

	&:before,
	&:after {
		background: $color;

		display: block;
		content: "";

		width: 100%;
		height: $thickness;

		position: absolute;
		right: 0;
		top: 35%;
		transform: rotate(0);
	}

	&:before {
		transition: transform $transition-fast $transition-easing, top $transition-fast $transition-fast $transition-easing;
	}

	&:after {
		transition: transform $transition-fast $transition-easing, top $transition-fast $transition-fast $transition-easing, width $transition-fast $transition-fast * 2 $transition-easing;
		width: 80%;
		top: 65%;
	}
}

// TODO: Add color support
@mixin burger-menu-two-lines-open () {
	&:before {
		transition: top $transition-fast $transition-fast $transition-easing, transform $transition-fast $transition-fast * 2 $transition-easing;
		top: 50%;
		transform: rotate(-45deg);
	}

	&:after {
		transition: width $transition-fast $transition-easing, top $transition-fast $transition-fast $transition-easing, transform $transition-fast $transition-fast * 2 $transition-easing;
		top: 50%;
		width: 100%;
		transform: rotate(45deg);
	}
}

// Dotted burger menu (TODO: Better animation)
@mixin burger-menu-dots ($color: $link-color, $size: 32px, $thickness: 6px) {
	background: radial-gradient(circle at center, $color 0, $color ($thickness / 2), transparent ($thickness / 2));

	display: block;
	position: relative;

	width: $size;
	height: $size;

	border-radius: 50%;
	transform: rotate(0);
	transition: all $transition-default $transition-easing;

	&:before,
	&:after {
		background: $color;

		display: block;
		content: "";

		width: $thickness;
		height: $thickness;

		position: absolute;
		left: 50%;
		top: 50%;
		margin-left: -($thickness / 2);
		margin-top: -($thickness / 2);

		border-radius: 50%;
		transition: all $transition-default $transition-easing;
	}

	&:before {
		transform: translateY(-calc(#{$size / 2} - #{$thickness / 2}));
	}

	&:after {
		transform: translateY(calc(#{$size / 2} - #{$thickness / 2}));
	}
}

@mixin burger-menu-dots-open ($thickness: 6px) {
	transform: rotate(45deg);

	&:before {
		height: 100%;
	}

	&:after {
		width: 100%;
		transform: translate(calc(-50% + #{$thickness / 2}));
	}
}
