@mixin flex-grid ($num: 3, $gutter: $grid-gap) {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;

	// Make all children grid items
	> * {
		@include flex-grid-item($num, $gutter);

		@if ($grid-flex-use-margin-top) {
			&:nth-child(-n + #{$num}) {
				margin-top: 0;
			}
		}
	}
}

@mixin flex-grid-item ($num: 3, $gutter: $grid-gap) {
	$total-gutter: $gutter * ($num - 1);
	$width-subtract: $total-gutter / $num;

	min-width: calc(#{(100% / $num)} - #{$width-subtract}); // IE needs this (and maybe FF?)
	max-width: calc(#{(100% / $num)} - #{$width-subtract}); // For Firefox(and IE?)?? (and Chrome, try a word that's longer than the width of the element)
	flex: 0 0 calc(#{(100% / $num)} - #{$width-subtract});

	@if ($grid-flex-use-margin-top) {
		margin-top: $gutter; // Same space between and above
	}
	@else {
		margin-bottom: $gutter;
	}
}

@mixin flex-width ($width: 50%, $gutter: $grid-gap, $num: false) {
	$width-subtract: $gutter / 2;

	@if ($num) {
		$total-gutter: $gutter * ($num - 1);
		$width-subtract: $total-gutter / $num;
	}

	@if ($gutter == false or $gutter == 0) {
		flex: 0 0 $width;
		min-width: $width;
		max-width: $width;
	}
	@else {
		flex: 0 0 calc(#{$width} - #{$width-subtract});
		min-width: calc(#{$width} - #{$width-subtract});
		max-width: calc(#{$width} - #{$width-subtract});
	}
}
