@mixin folded-label ($color: #369) {
	background: $color;

	position: relative;
	width: max-content;
	padding: ($spacing-small / 2) $spacing-small;

	color: $white;
	font-size: $font-size-small;
	line-height: 1;

	&::before {
		display: block;
		content: "";

		position: absolute;
		left: 0;
		top: 100%;

		border-top: ($spacing-x-small / 2) solid darken($color, 25%);
		border-right: ($spacing-x-small / 2) solid darken($color, 25%);
		border-bottom: ($spacing-x-small / 2) solid transparent;
		border-left: ($spacing-x-small / 2) solid transparent;
	}

	&::after {
		display: block;
		content: "";

		position: absolute;
		left: 100%;
		top: 0;

		border-top: ($font-size-small + $spacing-small) / 2 solid transparent;
		border-right: ($font-size-small + $spacing-small) / 2 solid transparent;
		border-bottom: ($font-size-small + $spacing-small) / 2 solid transparent;
		border-left: ($font-size-small + $spacing-small) / 2 solid $color;
	}
}
