@mixin form-field {
	background: $form-field-bg;

	display: inline-block;
	vertical-align: middle;

	box-sizing: border-box;
	width: 100%;
	max-width: 100%; // In case user changes width we still want max-width 100%

	margin: 0;
	padding: $form-padding-vertical $form-padding-horizontal;

	font-size: $form-font-size;
	font-family: $form-font-family;
	font-weight: $form-font-weight;

	letter-spacing: $form-letter-spacing;
	line-height: $form-line-height;
	text-transform: none; // TODO: Probably shouldn't be hard-coded
	color: $form-text-color;

	appearance: none;
	outline: 0;
	transition: all $transition-default $transition-easing;

	@if ($form-border) {
		border: $form-border;
	}
	@else {
		border: 0;
	}

	border-width: $form-border-width;
	border-radius: $form-border-radius;

	&:focus {
		outline: 0;

		@if ($form-border-focus) {
			border: $form-border-focus;
			border-width: $form-border-width;
		}
	}
}

@mixin form-select {
	appearance: none;
	outline: 0;

	background: $form-field-bg url($form-select-arrow) no-repeat;
	background-position: right $form-padding-horizontal top 50%;
	background-size: $form-select-arrow-size auto;

	box-sizing: border-box;
	width: 100%;

	padding: $form-padding-vertical ($form-padding-horizontal * 2 + $form-select-arrow-size) $form-padding-vertical $form-padding-horizontal;

	font-size: $form-font-size;
	font-family: $form-font-family;
	font-weight: $form-font-weight;

	letter-spacing: $form-letter-spacing;
	line-height: $form-line-height;
	color: $form-text-color;
	transition: all $transition-default $transition-easing;

	@if ($form-border) {
		border: $form-border;
	}
	@else {
		border: 0;
	}

	border-width: $form-border-width;
	border-radius: $form-border-radius;

	&:focus {
		@if ($form-border-focus) {
			border: $form-border-focus;
			border-width: $form-border-width;
		}
	}
}
