@mixin heading ($size: $font-size-h1) {
	display: block;
	margin: 0 0 $spacing-default;

	font-weight: $font-weight-heading;
	font-size: $size;
	font-family: $font-family-heading;

	color: $heading-color;

	line-height: $line-height-heading;
	letter-spacing: $letter-spacing-heading;

	a {
		color: $heading-color;

		&:hover {
			color: lighten($heading-color, 25%);
		}
	}
}
