@mixin hero ($width: $site-width, $center: false) {
	@include section($width);

	// Double padding in high res (TODO: Make configurable?)
	@media #{breakpoint(tablet)} {
		padding-top: $section-spacing * 2;
		padding-bottom: $section-spacing * 2;
	}

	// To allow for figure background
	position: relative;

	// White text
	color: $white;

	#{$headings},
	a:not(.button) {
		color: $white;
	}

	// Title/description
	> h1,
	> h2 {
		margin: 0;
	}

	> p {
		margin: $spacing-default 0 0;
	}

	// Buttons
	> nav {
		margin: $spacing-large 0 0;
	}

	// Potential image should be used as background
	> figure {
		@include figure-background;
	}

	// Centered?
	@if ($center) {
		text-align: center;

		> h1,
		> h2,
		> p,
		> nav {
			margin-left: auto;
			margin-right: auto;
		}
	}
}
