@mixin strike-through {
	display: table;
	width: 100%;
	overflow: hidden;
	border-spacing: 0;

	&:before,
	&:after {
		display: table-cell;
		content: "";
		width: 50%;
		border-top: 1px solid $border-color;
		transform: translateY(50%) translateX(-$spacing-default);
	}

	&:after {
		transform: translateY(50%) translateX($spacing-default);
	}
}
