@mixin text ($color: $text-color) {
	font-size: $font-size-default;
	font-family: $font-family-default;
	font-weight: $font-weight-default;

	letter-spacing: $letter-spacing-default;
	line-height: $line-height-default;
	text-transform: none; // TODO: Probably shouldn't be hard-coded

	@if ($color) {
		color: $color;
	}
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin hyphens {
	word-wrap: break-word;
	hyphens: auto;
}
