// NOTE: Don't remove any of these - they are used by SleekCSS
$breakpoints: (
	tablet: "(min-width: 600px)",
	tablet-max: "(max-width: 599px)",

	laptop: "(min-width: 1080px)",
	laptop-max: "(max-width: 1079px)",

	desktop: "(min-width: 1260px)",
	desktop-max: "(max-width: 1259px)"
) !default;
