// Button size
$button-padding-horizontal: 2.6rem !default;
$button-padding-vertical: 1rem !default;
$button-empty-padding-horizontal: $button-padding-vertical !default;

// Button border (for ghost buttons)
$button-border-width: 1px !default;
$button-border-style: solid !default;
$button-border-radius: .25rem !default;

// Button background
$button-color: #ffbf00 !default; // Can be a list in which case a gradient bg will be used
$button-text-color: #fff !default; // Default button text color
$button-text-color-dark: $button-color !default; // Button text color when BG-brightness > 90
$button-ghost-opacity: 1 !default; // Opacity of a ghost buttons bg on hover (works best on non-gradient backgrounds)
$button-shadow: false !default; // False for no shadow, otherwise specify a shadow like "0 .25rem .5rem rgba(0, 0, 0, .25)"
$button-glow: false !default; // False for no glow, true for glow on hover, "both" for glow all the time (NOTE: incompatible with button-shadow)

// Button text
$button-line-height: 1.2 !default;
$button-font-size: 1rem !default;
$button-font-weight: normal !default;
$button-font-style: normal !default;
$button-text-transform: none !default;
$button-letter-spacing: false !default;
$button-font-family: false !default; // false = default font, !false = any font-family
$button-text-shadow: false !default; // True or false
