// System colors
$body-bg: #fff !default;
$border-color: #dedede !default;
$overlay-color: rgba(0, 0, 0, .4) !default;

$white: #fff !default;
$black: #000 !default;

// Text
$text-color: #111 !default;
$heading-color: #111 !default;

// Links
$link-color: #ffbf00 !default;
$link-color-hover: darken($link-color, 10%) !default;
$link-color-visited: #609 !default;

// Define your general colors here, they may be gradients (by passing in 2 colors)
// You can use SASS's map-get() or SleekCSS color() method to retrieve colors
// NOTE: Don't remove any of these - they are used by SleekCSS
$colors: (
	// Shades of gray
	lightgray: #fafafa,
	gray: #bbb,
	darkgray: #777,

	// Social media
	facebook: #3b5998,
	twitter: #4099FF,
	linkedin: #0077b5,

	// Form/button related
	disabled: #bbb,
	error: #f00,
	success: #0f0,
	warning: #f90,

	// Site colors (EXAMPLES)
	primary: #369,
	secondary: #06f,
	gradient: (red, green)
) !default;

// Button colors (.button--primary)
$button-colors: (
	primary: map-get($colors, primary),
	secondary: map-get($colors, secondary)
) !default;

// Text colors (.color--white)
$text-colors: (
	white: $white
) !default;

// Background colors (.bg--lightgray)
$bg-colors: (
	lightgray: map-get($colors, lightgray)
) !default;
