// Site widths
$site-width: 1240px !default; // Max width
$site-width-min: 90% !default; // Width before reaching max

// Spacing (margins and paddings)
$spacing-x-small: .5rem !default;
$spacing-small: .75rem !default;
$spacing-default: 1.5rem !default;
$spacing-large: 2.5rem !default;
$spacing-x-large: 4rem !default;

// Section spacing
$section-spacing: 6rem !default;
$section-slant: 4rem !default;

// Transition speeds
$transition-easing: cubic-bezier(0.125, 0.75, 0.415, 1) !default;
$transition-fast: .15s !default;
$transition-default: .25s !default;
$transition-slow: .5s !default;

// Grid stuff
$grid-cols: 3 !default; // Number of CSS classes (grid--1, grid--2, grid--3)
$grid-gap: 2rem !default;
$grid-flex-use-margin-top: true !default;
